{% extends "base.html" %}

{% block content %}
<style>
	body {
	    padding-left: 10px;
	}
</style>
        
<header>
	<h1>MakeMeRecipe?</h1>
</header>
	
<!--  Bootstrap horizontal form -->
<form class="form-horizontal" action="searchResults">
<legend>Find Recipes</legend>
  <div class="control-group">
    <label class="control-label" for="inputIngredients">Ingredients:</label>
    <div class="controls">
      <input type="text" id="inputIngredients" name='ingredients' placeholder="chicken, rice, oatmeal">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputTime">Prep Time:</label>
    <div class="controls">
      <div class="input-append">
			  <input class="span2" id="inputTime" name="time" type="text" placeholder="30">
			  <span class="add-on">mins</span>
			</div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputCuisine">Cuisine Type:</label>
    <div class="controls">
      <select>
      	<option>All</option>
			  <option>Italian</option>
			  <option>Chinese</option>
			  <option>French</option>
			  <option>Spanish</option>
			  <option>Korean</option>
			</select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Find Recipe</button>
    </div>
  </div>
</form>

{% endblock content %}